<!DOCTYPE html>
<html>
    <head>
        <title>Welcome</title>
    </head>
    <center>
        <font color="black" size="4" style="font-family: avenir">
            <h1>Select what you want to do</h1>
            <body>
                <form action="/home" autocomplete="on" method="POST" enctype="multipart/form-data">
                    <button type="submit" formaction="/addemp1" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">Register Emplyee data</button><br><br>
                    <button type="submit" formaction="/getemp1" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">GET EMPLOYEE INFORMATION</button><br><br>
                </form>
            </body>
    </center>
</html>